.container {
    width: 1280px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    width: 1280px;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
}

.header{
    width: 1280px;
    height: 40px;
    padding-left: 600px;
    background-color: palegreen;
  
}

.animalwiki{
  
    font-size: 60px;
    background-color: skyblue;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
}

.smallsite{
 
    font-size: 60px;
    background-color: slategray;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
}

.mobileapp{
  
    font-size: 60px;
    background-color: coral;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
}

.footer{
    background-color: palegreen;
    width: 1280px;
    height: 40px;
    padding-left: 600px;
   margin:auto;
    padding-top: 5px;
}

.footer p{
    text-align: left;
    color: black;
    position: relative;
    bottom: 5px;


}
